<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Playlists based on the weather">
    <meta name="author" content="Johann Benerradi">
    <meta property="og:title" content="Celsius &bull; Playlists based on the weather">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Playlists based on the weather">
    <meta property="og:url" content="https://hanbnrd.gitlab.io/celsius/">
    <meta property="og:image" content="https://hanbnrd.gitlab.io/assets/img/background.jpg">
    <link rel="icon" type="image/png" href="assets/favicon/favicon.png">
    <link rel="stylesheet" type="text/css" href="assets/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style type="text/css">
        [v-cloak] {
            display: none;
        }
    </style>
    <title>Celsius &bull; Playlists based on the weather</title>
</head>

<body class="grey darken-4 brown-text text-lighten-5">

    <header class="center">
        <h3 class="deep-orange-text text-accent-3">Celsius</h3>
        <p>Playlists based on the weather</p>
    </header>

    <main class="center">
        <div id="app" v-cloak>
            <div class="weather-view">
                <video autoplay loop muted v-bind:src="'assets/videos/' + video" v-bind:poster="'assets/videos/' + poster"></video>
                <img src="assets/videos/default.jpg">
            </div>
            <p>
                <a class="btn-floating btn waves-effect waves-light deep-orange accent-3" v-on:click="previous"><i class="material-icons">skip_previous</i></a>
                <a class="btn-floating btn-large waves-effect waves-light deep-orange accent-3" v-on:click="toggleSound"><i class="material-icons">{{button}}</i></a>
                <a class="btn-floating btn waves-effect waves-light deep-orange accent-3" v-on:click="next"><i class="material-icons">skip_next</i></a>
            </p>
            <div v-show="!playlist_id" class="center">
                <br>
                <div class="preloader-wrapper big active center-align">
                    <div class="spinner-layer">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="row">
                <div class="col s12 m10 offset-m1 l8 offset-l2">
                    <iframe id="playlist" v-if="playlist_id" class="iframe" scrolling="no" frameborder="no" allow="autoplay" v-bind:src="'https://w.soundcloud.com/player/?url=https://api.soundcloud.com/playlists/' + playlist_id + '&color=%23ff5500&auto_play=false&hide_related=false&show_comments=false&show_user=false&show_reposts=false&show_teaser=true'" width="100%" height="500" frameborder="no"></iframe>
                </div>
            </div>
        </div>
    </main>

    <div class="footer-copyright">
        <div class="row">
            <div class="col s6 m6 l6 offset-l3 center">&copy; 2020 <a class="link" href="https://hanbnrd.gitlab.io/" target="_blank">Johann Benerradi</a></div>
            <div class="col s6 m6 l2 center">Based on <a class="link" href="https://www.metaweather.com/" target="_blank">MetaWeather</a></div>
        </div>
    </div>

    <script type="text/javascript" src="assets/js/materialize.min.js"></script>
    <script type="text/javascript" src="assets/js/soundcloud.min.js"></script>
    <script type="text/javascript" src="assets/js/axios.min.js"></script>
    <script type="text/javascript" src="assets/js/vue.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script>
      var app = new Vue({
        el: '#app',
        data: {
            poster: 'default.jpg',
            video: 'default.mp4',
            button: 'play_arrow',
            playlist_id: null,
            widget: null,
        },
        methods: {
            updateButton() {
                this.widget.isPaused((value) => {
                    if (value === true) {
                        this.button = 'play_arrow';
                    }
                    else {
                        this.button = 'pause';
                    }
                });
            },
            toggleSound() {
                this.widget.toggle();
            },
            previous() {
                this.widget.prev();
            },
            next() {
                this.widget.next();
            },
            setWeather(weather_state_abbr) {
                switch (weather_state_abbr) {
                    case 'c': case 'lc':
                        this.playlist_id = '1104732223';
                        this.poster = 'sun.jpg';
                        this.video = 'sun.mp4';
                        break;
                    case 'hc': case 's': case 'lr': case 'hr': case 't': case 'h': case 'sl': case 'sn':
                        this.playlist_id = '1104732775';
                        this.poster = 'rain.jpg';
                        this.video = 'rain.mp4';
                        break;
                    default:
                        console.log('Unknown weather.');
                }
            }
        },
        async mounted () {
            if (navigator.geolocation) {
                await navigator.geolocation.getCurrentPosition(async (position) => {
                    const cors_proxy = 'https://cors-anywhere.herokuapp.com/';
                    let lat = position.coords.latitude;
                    let long = position.coords.longitude;
                    let search_res = await axios.get(cors_proxy + 'https://www.metaweather.com/api/location/search/?lattlong=' + lat + ',' + long);
                    let weather_res = await axios.get(cors_proxy + 'https://www.metaweather.com/api/location/' + search_res.data[0].woeid + '/');
                    await this.setWeather(weather_res.data.consolidated_weather[0].weather_state_abbr);
                    let playlist = document.getElementById('playlist');
                    this.widget = SC.Widget(playlist);
                    this.widget.bind(SC.Widget.Events.PLAY, this.updateButton);
                    this.widget.bind(SC.Widget.Events.PAUSE, this.updateButton);
                }, (error) => {
                    console.warn(`ERROR (${error.code}): ${error.message}`);
                });
            }
            else {
                console.log('Geolocation is not supported by this browser.');
            }
        }
      })
    </script>

</body>

</html>
