.weather-view img {
    object-fit: cover;
    border-radius: 100%;
    width: 200px;
    height: 200px;
}
.weather-view video {
    position: absolute;
    object-fit: cover;
    border-radius: 100%;
    border: 4px solid #ff3d00;
    box-shadow: 2px 2px 5px 2px #00000050;
    width: 200px;
    height: 200px;
}
.spinner-layer {
    border-color: #ff3d00;
}

body {
    overflow-y: scroll;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
